.trainDetailsBody{
    background-image: url(https://i.pinimg.com/originals/74/f2/1e/74f21ee5c78141592ac50e2fdbd967ce.jpg);
    background-color: #C6DCE4;
     
}

.bookTicketsBody{
    background-image: url(https://images.unsplash.com/photo-1567312955700-59d1f67bd6e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwcmFpbHdheXxlbnwwfHwwfHw%3D&w=1000&q=80);
   padding-top: 50px;    
}



